
.mainBlockMargin {
    margin: 0 auto;
    padding: 0  16px 16px 16px;
    max-width: 1000px;
}
.headingLarge {
    font-size: 22px;
    margin-bottom: 8px;
}
.headingSmall {
    font-size: 18px;
    margin-bottom: 8px;
}
.text {
    margin-bottom: 4px;
}