.contentsNav {
    max-width: var(--columnSpace);
    & .webDesign,& .conceptArt {
        position: relative;
        margin-bottom: 24px;
        & .contntArt {
            height: 100px;
            filter: blur(1px) grayscale(0.7);
        }
        &:hover .contntArt {
            filter: blur(0) grayscale(0);
        }
        & .heading {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100px;
        }
        & h2 {
            letter-spacing: 2px;
            font-size: var(--headingH1);
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0,0,0,1);
            z-index: 10;
            transition: font-size 0.1s 0s ease;
        }
        &:hover h2 {
            font-size: 32px;
        }
    }
    & .webDesign .contntArt {
        background: url(../images/banner_webDesign.jpg) no-repeat 0%/cover;
    }
    & .conceptArt .contntArt {
        background: url(../images/banner_conceptArt.jpg) no-repeat 0%/cover;
    }
}
