.contentHeading {
    & .image {
        height: 100px;
        margin-bottom: 16px;
        background: no-repeat;
        background-position: 50%;
        background-size: cover;
        &.webDesign {
            background-image: url(../images/bannerWebDesign.jpg);
        }
        &.conceptArt {
            background-image: url(../images/bannerConceptArt.jpg);
        }
    }
    & h1 {
        padding: 0 16px 16px 16px;
        margin: 0 auto;
        max-width: 1000px;
        font-size: 28px;

    }
}