.copyright {
    display: flex;
    justify-content: center;
    background: #474544;
    margin: 8px 0;
    & small {
        display: flex;
        align-items: center;
        color: #F2EAE6;
        font-size: 12px;
        opacity: 0.7;
        & span {
            display: inline-block;
        }
        & .mark {
            margin: 2px 4px 0 0;
            font-size: 23px;
            line-height: 1;
        }
    }
}