.copyright {
    display: flex;
    justify-content: center;
    margin: 8px 0;
    & small {
        display: flex;
        align-items: center;
        color: var(--baseColor);
        font-size: 12px;
        opacity: var(--opacity);
        & span {
            display: inline-block;
        }
        & .mark {
            margin: 2px 4px 0 0;
            font-size: 23px;
            line-height: 1;
        }
    }
}