.copyright {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    & small {
        display: flex;
        align-items: center;
        color: #706965;
        font-size: 12px;
        & span {
            display: inline-block;
        }
        & .mark {
            margin: 2px 4px 0 0;
            font-size: 23px;
            line-height: 1;
        }
    }
}