@import "./variable";

.coverArt {
    position: relative;
    background-color: var(--baseColor);
    padding-bottom: 16px;
    & .heading {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-400px);
        z-index: 10;
        & h1 {
            padding: 190px 0 0 16px;
            font-size: var(--headingH1);
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0,0,0,1);
        }
    }
    & .slideContainer {
        & .image1 {
            background: url(../images/coverArt1.jpg) no-repeat 50%/cover;
            height: 250px;
        }
        & .image2 {
            background: url(../images/coverArt2.jpg) no-repeat 50%/cover;
            height: 250px;
        }
        & .image3 {
            background: url(../images/coverArt3.jpg) no-repeat 50%/cover;
            height: 250px;
        }
    }
}