.coverArt {
    position: relative;
    background-color: var(--baseColor);
    padding-bottom: 16px;
    & .heading {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 32px;
        margin: 0 auto;
        max-width: var(--columnSpace);
        z-index: 10;
        & h1 {
            display: block;
            padding-right: 16px;
            text-align: right;
        }
    }
    & .slideContainer {
        & .art {
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
            height: 250px;
        }
        & .art1 {
            background-image: url(../images/conceptArt_relationship.jpg);
        }
        & .art2 {
            background-image: url(../images/conceptArt_research_forCover.jpg);
        }
        & .art3 {
            background-image: url(../images/conceptArt_city.jpg);
        }
    }
}