.header {
    background: #474544;
    & nav {
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        margin: 0 auto;
        max-width: 1000px;
    }
    & ul:last-child {
        display: flex;
        & li {
            padding-left: 16px;
        }
    }
    & a {
        color: #F2EAE6;
        opacity: 0.7;
        padding-bottom: 2px;
        &.active {
            border-bottom: 2px solid #F2EAE6;
        }
        &:hover {
            opacity: 1;
        }
    }
}