.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    & h1 {
        padding: 16px;
    }
    & ul {
        display: flex;
        & li {
            padding: 16px;
        }
    }
}