/* page */
html {
    font-size: 15px;
}
body {
    background-color: #F2EAE6;
    color: #474544;
}
a {
    color: #3A5E91;
}

/* margin */
.mainBlockMargin {
    margin: 0 auto;
    padding: 0  16px 32px 16px;
    max-width: 1000px;
}

/* heading */
.headingSmall {
    font-size: 20px;
    margin-bottom: 8px;
    color: #706965;
}
/* text */
.text {
    margin-bottom: 4px;
    line-height: 1.6;
}
.textSub {
    margin-bottom: 4px;
    font-size: 1.3rem;
    line-height: 1.4;
}
/* table */
.tableSimple {
    & th,& td {
        padding: 4px 8px;
        vertical-align: middle;
    }
    & th {
        white-space: nowrap;
    }
    & td {
        line-height: 1.4;
    }
}