/* page */
html {
    font-size: 15px;
}
body {
    background-color: var(--accentColor);
    color: var(--assortColor);
}
a {
    color: #3A5E91;
}

/* margin */
.mainBlock {
    background-color: var(--baseColor);
}
.mainBlockMargin {
    margin: 0 auto;
    padding: 0  16px 32px 16px;
    max-width: var(--columnSpace);
}

/* heading */
.headingH2 {
    font-size: var(--headingH2);
    margin-bottom: 8px;
}
/* text */
.text {
    margin-bottom: 4px;
    line-height: 1.6;
}
/* table */
.tableSimple {
    & th,& td {
        padding: 4px 8px;
        vertical-align: middle;
    }
    & th {
        white-space: nowrap;
    }
    & td {
        line-height: 1.4;
    }
}