.process {
    & .chart {
        border: 1px solid #dedede;
        background: #fafafa;
        padding: 8px;
        margin-bottom: 16px;
        & dl {
            padding: 12px 8px;
            border-bottom: 1px solid #dedede;
            &.noBorder {
                border-bottom: none;
            }
            & dt {
                margin-bottom: 8px;
            }
            & dd {
                line-height: 1.4;
            }
        }
        & .imageBox {
            display: flex;
        }
        & .text {
            flex: 1;
        }
        & figure {
            margin: 8px 0 8px 8px;
            & img {
                margin-bottom: 4px;
                object-fit: contain;
                max-width: 300px;
            }
            & figcaption {
                text-align: right;
                font-size: var(--subText);
                opacity: var(--opacity);
            }
        }
    }
    & .productionTime {
        padding: 4px 16px;
        & li {
            margin-bottom: 4px;
        }
    }
}

@media screen and (max-width:600px){
figure {
    display: none;
}
}