.process {
    & .chart {
        border: 1px solid #dedede;
        background: #fafafa;
        padding: 8px;
        margin-bottom: 16px;
        & li {
            display: flex;
            padding: 16px 8px;
            border-bottom: 1px solid #dedede;
            &:last-child {
                border-bottom: none;
            }
            & .image {
                margin-left: 12px;
                & img {
                    max-width: 200px;
                    margin-bottom: 4px;
                }
            }
            & figcaption {
                font-size: var(--subText);
                opacity: var(--opacity);
            }
        }
        & dl {
            flex: 1;
            & dt {
                margin-bottom: 8px;
            }
            & dd {
                line-height: 1.4;
                    & img {
                        max-width: 250px;
                        margin: 12px 0 4px 0;
                    }
            }
        }
    }
    & .productionTime {
        padding: 4px 16px;
        & li {
            margin-bottom: 4px;
        }
    }
}