.name {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    & .icon {
        width: 50px;
        height: 50px;
        margin-right: 8px;
        background: url(../images/icon_profile.png) no-repeat 50%/cover;
        border-radius: 50px;
    } 
    & h2 {
        font-size: var(--headingH2);
        line-height: 1;
    }
}
.snsAccount {
    margin: 16px;
    & a {
        display: inline-block;
        & img {
            width: 30px;
            filter: grayscale(1);
        }
        &:hover img {
            filter: grayscale(0);
        }
    }
}