.name {
    display: flex;
}
.twitterAccount {
    margin-left: 16px;
    & a {
        display: inline-block;
        & img {
            width: 24px;
            filter: grayscale(1);
        }
        &:hover img {
            filter: grayscale(0);
        }
    }
}