@import "./variable";

.name {
    margin-bottom: 8px;
    & h2 {
        font-size: var(--headingH2);
        line-height: 1;
    }
}
.snsAccount {
    margin: 16px;
    & a {
        display: inline-block;
        & img {
            width: 30px;
            filter: grayscale(1);
        }
        &:hover img {
            filter: grayscale(0);
        }
    }
}