.sns {
    display: flex;
    & .account {
        padding: 0 16px 0 0;
        & img {
            display: inline-block;
            padding-right: 4px;
        }
    }
}
@media screen and (min-width:470px){
.sns {
    display: block;
    & .account {
        padding: 0 0 8px 0;
    }
}
}