.accounts {
    display: flex;
    align-items: center;
    margin-top: 20px;
    & li {
        padding: 0 28px 0 0;
        & a {
            display: block;
            line-height: 24px;
        }
        & img {
            display: inline-block;
            width: 29px;
            margin-right: 14px;
            border-radius: 4px
        }
    }
}
@media screen and (max-width:480px){
.accounts {
    display: block;
    & li {
        padding: 0 0 24px 0;
    }
}
}